*, body {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

ul.inline {
    margin: 0;
    padding:0;
    display: inline-block;
}

ul.inline li {
    display: inline;
}

ul.inline li.separator {
    margin: 0 5px;
    color: rgba(225, 225, 225, 1.0);
}

.content {
    margin: 1.5rem 0;
}

.content p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2.5rem !important;
}

hr {
    opacity: 0;
}

ul.checkmark {
  list-style: none;
}

ul.checkmark li {
  font-size: 90%;
}

ul.checkmark li:before {
  content: '✓';
  color: #1E1E24;
  opacity: .45;
  padding-right: .75rem;
}

ul.mdash {
list-style: disc inside; }

ul.mdash li::marker {
  color: rgba(30, 30, 36, 0.45);
}

ul.mdash li:before {
  padding-right: 3.75rem;
}

.contacts {
  float: right;
}

.header-subscription {
  text-align: center; font-weight: bold; font-size: 9.0rem; line-height: 1.2;  letter-spacing: -.1rem;
}

.header-subheadline {
  color: #fff;
  font-size: 6rem;
}

@media (min-width: 100px) and (max-width: 810px) {
  .contacts {
    float: none;
  }
  
  .header-subscription {
    font-size: 7.0rem;
  }
  
  .header-subheadline {
    color: #fff;
    font-size: 3.5rem;
  }
}

a.link-button {
  border: 1px solid transparent;
  background-color: rgba(0, 152, 116, 1.0);
  color: rgba(255, 255, 255, .95);
  padding: 16px;
  border-radius: 8px;
}

a.link-button:hover {
  background-color: #19a281;
}

a.link-button:active {
  background-color: #008868;
}

@media (min-width: 100px) {
  a.link-button {
    display: block;
    margin-top: 1rem;
    width: 65%;
  }
}

/* For devices larger than 550px */
@media (min-width: 850px) {
  a.link-button {
    margin: 0;
  }
}