*, body {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

ul.inline {
    margin: 0;
    padding:0;
    display: inline-block;
    float: right;
}

.logo, .logo-sm {
  font-weight: bold; font-size: 1.75rem; line-height: 1.33;
}


ul.inline li {
    display: inline;
}

ul.inline li.separator {
    margin: 0 5px;
    color: rgba(225, 225, 225, 1.0);
}

.content {
    margin: 1.5rem 0;
}

.content p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2.5rem !important;
}

hr {
    opacity: 0;
}

ul.checkmark {
  list-style: none;
}

ul.checkmark li {
  font-size: 90%;
}

ul.checkmark li:before {
  content: '✓';
  color: #1E1E24;
  opacity: .45;
  padding-right: .75rem;
}

ul.mdash {
  list-style: disc inside;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

ul.mdash li::marker {
  color: rgba(30, 30, 36, 0.45);
}

ul.mdash li:before {
  padding-right: 3.75rem;
}

.contacts {
  /*float: right;*/
}

.header-subscription {
  text-align: center;
  font-weight: bold;
font-size: 6vw !important;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

.header-subheadline {
  font-size: 3.25vw !important;
  font-style: italic;

}

@media (max-width: 565px) {
  .logo {
    display: none;
  }

  .logo-sm {
    display: block;
  }
}

@media (min-width: 566px) {
  .logo {
    display: block;
  }

  .logo-sm {
    display: none;
  }
}

@media (min-width: 100px) {
 .header-subscription {
  font-size: 3.05rem;
}

.header-subheadline {
  font-size: 1.35rem;
  }

  .card:last-of-type {
    margin-top: 2rem;
  }

  ul.contacts li {
    display: block;
    text-align: right;
  }

  li.separator.first {
    display: none;
  }

}

}

a.link-button {
  border: 1px solid transparent;
  background-color: rgba(0, 102, 204);
  color: rgba(255, 255, 255, .9);
  padding: 12px;
  border-radius: 12px;
}

a.link-button:hover {
  background-color: rgba(0, 31, 63, 1);
}

a.link-button:active {
  background-color: rgba(0, 102, 204);
}

@media (min-width: 100px) {
  a.link-button {
    display: block;
    margin-top: 1rem;
    width: 65%;
  }
}

/* For devices larger than 550px */
@media (min-width: 850px) {
  a.link-button {
    margin: 0;
  }
}

@media (min-width: 389px) {
 ul.contacts li {
     display: inline;
  }

  ul.inline li {
     display: inline !important;
  }

  li.separator.first {
    display: block;
  }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 749px) {
 ul.contacts li {
    display: inline;
    text-align: left;
  }

  li.separator.first {
    display: block;
  }

  .card:last-of-type {
    margin-top: 2rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 999px) {
  .card:last-of-type {
    margin-top: 2rem;
  }
}