*, body {
    font-family: 'PT Sans', sans-serif;
}

h2, h5 {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    color: #1d1d1f;
    letter-spacing: -.005em;
}

ul.inline {
    margin: 0;
    padding:0;
    display: inline-block;
}

ul.inline li {
    display: inline;
}

ul.inline li.separator {
    margin: 0 5px;
    color: rgba(225, 225, 225, 1.0);
}

.content {
    margin: 1.5rem 0;
}

.content p:last-of-type {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2.5rem !important;
}

hr {
    opacity: 0;
}

ul.checkmark {
  list-style: none;
}

ul.checkmark li:before {
  content: '✓';
  color: #1E1E24;
  opacity: .45;
  padding-right: .75rem;
}

ul.mdash {
list-style: disc inside; }

ul.mdash li::marker {
  color: rgba(30, 30, 36, 0.45);
}

ul.mdash li:before {
  padding-right: 3.75rem;
}
